# Mini project 1 - read rom PDF

Minimum disse tre filformater bliver anvendt: PDF, billede, JSON.

In [ ]:
# Different python PDF libraries: PDFMiner, PyPDF2, PDFQuery and PyMuPDF
# Installed PyPDF2 and tabula

## Import libraries

In [19]:
# Import from the library PyPDF2 to read PDF
from PyPDF2 import PdfReader
# Library to read tabula data and convert to pandas dataframe
import tabula
import pandas as pd
from collections import Counter

## Read from a PDF-file

In [5]:
# Define a path to the pdf
path = 'novo-nordisk-annual-report-2023.pdf'
# Read from that path
reader = PdfReader(path)

In [29]:
# Extract text from a page, by giving the page index number
page9 = reader.pages[8]
page9_text = page9.extract_text()

# Extract text from all pages
all_pages = reader.pages
for page in all_pages:
    text = text+page.extract_text()

## Count the number of times each word appear in the PDF
..and how put the data into a pandas dataframe

In [33]:
# Count words
text_lower = text.lower()

# Split the text into words
words = text_lower.split()

# Count occurrences of each word
count = Counter(words)

# Convert the word counts to a pandas DataFrame
word_count_df = pd.DataFrame(count.items(), columns=['Word', 'Count'])

# Sort the dataframe by count in desc order
word_count_df = word_count_df.sort_values(by='Count', ascending=False).reset_index(drop=True)

In [ ]:
# Show first 20 rows of df
word_count_df.head(20)

## PDF metadata
Get info like title, author and more...

In [23]:
# Get metadata from the PDF - it could be non-existing
meta = reader.metadata
meta.title

'Novo Nordisk Annual Report 2023 (PDF)'

## Find tabula data
Use the tabula library to find tables in the pdf and put directly into a dataframe

In [40]:
tables = tabula.read_pdf(path, pages='9')
for i, table in enumerate(tables, start=1):
    print(f"Table {i}:")
    print(table)
    print("-----------------------")

Table 1:
                                           Unnamed: 0  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                    Operating profit
4                 Operating profit growth as reported
5   Operating profit growth in constant exchange r...
6    Depreciation, amortisation and impairment losses
7                                         EBITDA1,2,3
8                                      Net financials
9                          Profit before income taxes
10                                Effective tax rate3
11                                         Net profit
12         Purchase of property, plant and equipment3
13                     Purchase of intangible assets3
14            Cash used for acquisition of businesses
15                                    Free cash flow1
16                                       Total assets
17                                             Equity
18                                                NaN
19                                                NaN

   122,021126,946140,800176,954\r9.1%4.0%10.9%25.7%\r5.6%6.7%13.8%16.4%\r52,48354,12658,64474,809\r11.1%3.1%8.3%27.6%\r5.6%6.8%12.7%14.6%\r5,6615,7536,0257,362\r58,14459,87964,66982,171\r(3,930)(996)436(5,747)\r48,55353,13059,08069,062\r19.8%20.7%19.2%19.6%\r38,95142,13847,75755,525  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                              52,483
4                                               11.1%
5                                                5.6%
6                                               5,661
7                                              58,144
8                                             (3,930)
9                                              48,553
10                                              19.8%
11                                             38,951
12                                              8,932
13                                              2,299
14                                                  —
15                                             34,451
16                                            125,612
17                                             57,593
18                                                NaN
19                                                NaN

   Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0         NaN        NaN        NaN
1         NaN        NaN        NaN
2         NaN        NaN        NaN
3      54,126     58,644     74,809
4        3.1%       8.3%      27.6%
5        6.8%      12.7%      14.6%
6       5,753      6,025      7,362
7      59,879     64,669     82,171
8       (996)        436    (5,747)
9      53,130     59,080     69,062
10      20.7%      19.2%      19.6%
11     42,138     47,757     55,525
12      5,825      6,335     12,146
13     16,256      1,050      2,607
14          —     18,283      7,075
15     28,565     29,319     57,362
16    144,922    194,508    241,257
17     63,325     70,746     83,486
18        NaN        NaN        NaN
19        NaN        NaN        NaN

                                           Unnamed: 4  \
0                                             232,261
1                                               31.3%
2   35.6%\r102,574\r37.1%\r43.7%\r9,413\r111,987\r...
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN

                             Unnamed: 5  Unnamed: 6  Unnamed: 7
0                                   NaN         NaN         NaN
1                                   NaN         NaN         NaN
2                                   NaN         NaN         NaN
3                                   NaN         NaN         NaN
4                                   NaN         NaN         NaN
5                                   NaN         NaN         NaN
6                                   NaN         NaN         NaN
7                                   NaN         NaN         NaN
8                                   NaN         NaN         NaN
9                                   NaN         NaN         NaN
10                                  NaN         NaN         NaN
11                                  NaN         NaN         NaN
12                               25,806         NaN       112.0
13  13,090\r—\r68,326\r314,486\r106,561         NaN         NaN
14                                  NaN         NaN         NaN
15                                  NaN         NaN         NaN
16                                  NaN         NaN         NaN
17                                  NaN         NaN         NaN
18                                  NaN         NaN         NaN
19                                  NaN         NaN         NaN
-----------------------
Table 2:
                                      inancial ratios Unnamed: 0 Unnamed: 1  \
0                                        ross margin3      83.5%      83.5%
1   Sales and distribution costs in percentage of ...      26.1%      25.9%
2   Research and development costs in percentage o...      11.7%      12.2%
3                                   Operating margin3      43.0%      42.6%
4                                  Net profit margin3      31.9%      33.2%
5                                   Cash to earnings1      88.4%      67.8%
6                         Return on invested capital1      98.0%      82.8%
7             hare performance and capital allocation        NaN        NaN
8               asic earnings per share/ADR in DKK3,5       8.21       9.03
9            Diluted earnings per share/ADR in DKK3,5       8.19       9.01
10   Total number of shares (million), end of year3,5      4,800      4,700
11                     Dividend per share in DKK3,4,5       4.18       4.55
12                      Total dividend (DKK million)4     19,651     21,066
13                           Dividend payout ratio3,5      50.5%      50.0%
14                    Share repurchases (DKK million)     15,334     16,855
15                       Closing share price (DKK)3,5        194        214

   Unnamed: 2 Unnamed: 3  Unnamed: 4  \
0       83.2%      83.9%         NaN
1       26.3%      26.1%         NaN
2       12.6%      13.6%         NaN
3       41.7%      42.3%         NaN
4       33.9%      31.4%         NaN
5       61.4%     103.3%         NaN
6       69.0%      73.6%         NaN
7         NaN        NaN         NaN
8       10.40      12.26         NaN
9       10.37      12.22         NaN
10      4,620      4,560         NaN
11       5.20       6.20         NaN
12     23,711     27,950         NaN
13      49.6%      50.3%         NaN
14     19,447     24,086         NaN
15        368        469         NaN

      84.6%\r24.4%\r14.0%\r44.2%\r36.0%\r81.6%\r88.5%  Unnamed: 5
0                                                 NaN         NaN
1                                                 NaN         NaN
2                                                 NaN         NaN
3                                                 NaN         NaN
4                                                 NaN         NaN
5                                                 NaN         NaN
6                                                 NaN         NaN
7   18.67\r18.62\r4,510\r9.40\r41,987\r50.2%\r29,9...         NaN
8                                                 NaN         NaN
9                                                 NaN         NaN
10                                                NaN         NaN
11                                                NaN         NaN
12                                                NaN         NaN
13                                                NaN         NaN
14                                                NaN         NaN
15                                                NaN         NaN
-----------------------

In [44]:
tables[0].head(10)

,Unnamed: 0,"122,021126,946140,800176,954\r9.1%4.0%10.9%25.7%\r5.6%6.7%13.8%16.4%\r52,48354,12658,64474,809\r11.1%3.1%8.3%27.6%\r5.6%6.8%12.7%14.6%\r5,6615,7536,0257,362\r58,14459,87964,66982,171\r(3,930)(996)436(5,747)\r48,55353,13059,08069,062\r19.8%20.7%19.2%19.6%\r38,95142,13847,75755,525",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,"232,261",NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,31.3%,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,"35.6%\r102,574\r37.1%\r43.7%\r9,413\r111,987\r...",NaN,NaN,NaN
3,Operating profit,"52,483","54,126","58,644","74,809",NaN,NaN,NaN,NaN
4,Operating profit growth as reported,11.1%,3.1%,8.3%,27.6%,NaN,NaN,NaN,NaN
5,Operating profit growth in constant exchange r...,5.6%,6.8%,12.7%,14.6%,NaN,NaN,NaN,NaN
6,"Depreciation, amortisation and impairment losses","5,661","5,753","6,025","7,362",NaN,NaN,NaN,NaN
7,"EBITDA1,2,3","58,144","59,879","64,669","82,171",NaN,NaN,NaN,NaN
8,Net financials,"(3,930)",(996),436,"(5,747)",NaN,NaN,NaN,NaN
9,Profit before income taxes,"48,553","53,130","59,080","69,062",NaN,NaN,NaN,NaN